<div>
  <div *ngIf="hasUserRegistered" class="main-container">
        <h1>Chat Bhandar</h1>
        <div class="chat-container">
            
        </div>
        <div class="message-box">
            <input placeholder="Type your message here..." (keyup.enter)="sendMessage(userMessage)" id="userMessage" type="text" style="width: 40vw;height: 5vh;" #userMessage>
            <button id="sendButton" (click)="sendMessage(userMessage)"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    </div>
    <div *ngIf="!hasUserRegistered" class="userInput-container">
        <input type="text" id="username" (keyup.enter)="setUsername(usernameField)" placeholder="Enter your Alias" #usernameField>
        <button (click)="setUsername(usernameField)" id="aliasSubmit">Submit</button>
    </div>
</div>