/* You can add global styles to this file, and also import other style files */
#aliasSubmit{    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: black solid 2px;
    outline: none;
    background-color: rgb(0, 0, 0,0);
    cursor: pointer;
    margin-left: 10px;
}
.chat-container{
    height: 50vh;
    width: 50vw;
    overflow-y: scroll;
    border: 2px solid black ;
    border-radius: 10px;
    box-shadow: 4px 8px 8px gray;
    padding: 20px;
}
.d-flex{
    display: flex;
}
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.message-box{
    margin-top: 40px;
    display: flex;
}
.message-container{
    padding: 1%;
    overflow-wrap: break-word;
    width: max-content;
    max-width: 50%;
    border: solid 2px gray;
    margin: 5px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
}

#username{
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
    height: 5%;
    width: 40vw;
}

.userInput-container{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.username-container{
    position: absolute;
    top: -25px;
    font-weight: 500;
    color: green;
    width: auto;
    width: 300px;
    overflow-wrap: normal;
}
#user-message{
    border-radius: 5px;
}

#sendButton{
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    outline: none;
    background-color: rgb(0, 0, 0,0);
    border: none;
}
#sendButton:hover{
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: gray; 
  }

  @media(max-width:700px){
      .chat-container{
          width: auto;
      }
      .username-container{
          width: auto;
      }
  }
  